.float_left{
    float: left;
    border-style: solid;
}
.float_right{
  float: right;
}
.online {
  color: white;
}
.clear {
  clear: left;
  border-style: dashed;
   border-radius: 111px 200px 222px 111px;
   margin-left: 111px;
}
