<p>skills works!</p>



<h2>{{s[0].name}}</h2>
<h1>Alexander Skarlatov's skills</h1>

<p>java, angular, c++, html5/css, SQL, Ruby scripting, BASH scripting for servers
Cisco Router/Switch networking conepts and skillsaccess/oracle administration
splunk</p>



<!-- mental node use *ngfor to populate this table with my .ts file list of
values that are imported in logic side file called SKILLS, THEN PARAMETERIZE
THEM SO THAT THEY CNA BE LINKED FOR FURTHER ENUMERATION ON THEIR OWN PAGE -->


<table style="width:100%">
  <tr>
    <td>angular</td>
    <td>Java</td>
    <td>C++</td>
  </tr>
  <tr>
    <td>SQL</td>
    <td>HTML5/CSS</td>
    <td>Ruby Scripting</td>
  </tr>
  <tr>
    <td>BASH Scripting on servers</td>
    <td>Cisco Router/Switch networking architecture and troubleshooting</td>
    <td>Splunk Development</td>
  </tr>
  <tr>
    <td>Informatica</td>
    <td>IBM Integration Bus</td>
    <td>Null</td>
  </tr>
</table>
